In [1]:
 # Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

import warnings
warnings.filterwarnings('ignore')

In [2]:
 # Read the CSV file from the Resources folder into a Pandas DataFrame
lending_data_df=pd.read_csv(
    Path('lending_data.csv')
)

# Review the DataFrame
lending_data_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [3]:
 # Separate the data into labels and features

# Separate the y variable, the labels
y=lending_data_df['loan_status']

# Separate the X variable, the features
X=lending_data_df.drop(columns=['loan_status'])

In [4]:
# Review the y variable Series
y[:5]

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [5]:
# Review the X variable DataFrame
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

In [7]:
# Check the balance of our target values
y.value_counts()

loan_status
0    75036
1     2500
Name: count, dtype: int64

In [8]:
 # Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [9]:
 # Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
lr_model=LogisticRegression(random_state=1)

# Fit the model using training data
lr_model=lr_model.fit(X_train,y_train)

In [10]:
# Make a prediction using the testing data
lr_predictions=lr_model.predict(X_test)

In [12]:
# Print the balanced_accuracy score of the model
print(balanced_accuracy_score(y_test,lr_predictions))

0.9520479254722232

In [13]:
# Generate a confusion matrix for the model
confusion_matrix(y_test,lr_predictions)

array([[18663,   102],
       [   56,   563]], dtype=int64)

In [14]:
# Print the classification report for the model
print(f"Classifiction Report - Original Data")
print(classification_report_imbalanced(y_test,lr_predictions))

Classifiction Report - Original Data
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      0.91      1.00      0.95      0.91     18765
          1       0.85      0.91      0.99      0.88      0.95      0.90       619

avg / total       0.99      0.99      0.91      0.99      0.95      0.91     19384

How well does the logistic regression model predict both the 0 (healthy loan) and 1 (high-risk loan) labels?
According to the confusion matrix, the true positives and true negatives are very high. And considering the balanced accuracy score is 95%, I would say the predictions are really good.

In [15]:
 # Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ros_model=RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_oversampled,y_oversampled=ros_model.fit_resample(X_train,y_train)

In [16]:
# Count the distinct values of the resampled labels data
y_oversampled.value_counts()

loan_status
0    56271
1    56271
Name: count, dtype: int64

In [17]:
 # Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
lr_model=LogisticRegression(random_state=1)

# Fit the model using the resampled training data
lr_model=lr_model.fit(X_oversampled,y_oversampled)

# Make a prediction using the testing data
predictions=lr_model.predict(X_oversampled)

In [18]:
# Print the balanced_accuracy score of the model 
print(balanced_accuracy_score(y_oversampled, predictions))

0.9947308560359689

In [19]:
# Generate a confusion matrix for the model
confusion_matrix(y_oversampled,predictions)

array([[55964,   307],
       [  286, 55985]], dtype=int64)

In [20]:
# Print the classification report for the model
print(f"Classification Report")
print(classification_report_imbalanced(y_oversampled,predictions))

Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.99      0.99      0.99      0.99      0.99      0.99     56271
          1       0.99      0.99      0.99      0.99      0.99      0.99     56271

avg / total       0.99      0.99      0.99      0.99      0.99      0.99    112542

How well does the logistic regression model, fit with oversampled data, predict both the 0 (healthy loan) and 1 (high-risk loan) labels?
The oversampled predictions seem to be more accurate than the predictions from the original data. The accuracy is at 99% and the number of y samples is equal to the predictions.